<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Excepciones</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Pruebas de excepciones</h1>
	
	<!-- Excepciones con ficheros -->
	<h2>Excepciones de apretura y lectura de archivos.</h2>
	
	<!-- 
		Las excepciones se prueban en 
		un ejemlo de gestión de archivos 
		listados por el servidor
	-->
	
	<!-- Lista de ficheros -->
	<div th:if="${error}">
        <p style="color: red;">[[${error}]]</p>
    </div>

	<table th:if="${files}" border="1">
		<tr>
	    	<th>Archivo</th>
		    <th>Opciones</th>
	  	</tr>
	    <tr th:each="file : ${files}">
	        <td th:text="${file}"></td>
			<td>
				<form th:action="@{/file/read}" method="GET" style="display:inline;">
                   <input type="hidden" name="filename" th:value="${file}" />
                   <button type="submit">Leer</button>
               </form>
               <form th:action="@{/file/write}" method="GET" style="display:inline;">
                   <input type="hidden" name="filename" th:value="${file}" />
                   <button type="submit">Escribir</button>
               </form>
			</td>
	    </tr>
	</table>
	
	<div th:if="${readSuccess} or ${writeSuccess}">
	    <h2>Contenido de [[${filename}]]:</h2>
	    <p th:text="${content}"></p>
		<a th:href="@{/file/list}">Volver a la lista de archivos</a>
	</div>
	
	<div th:if="${errorCode}">
	    <h2>Error: [[${errorCode}]]</h2>
	    <p th:text="${errorMessage}"></p>
		<a th:href="@{/file/list}">Volver a la lista de archivos</a>
	</div>
	
	<a th:href="@{/exception-menu}">Volver al menu de excepciones</a>
</body>
</html>