<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Excepciones</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Tipos de excepciones a probar</h1>
	
	<!-- Excepciones con archivos -->
	<h2>Excepciones con archivos</h2>
	<a th:href="@{/file/list}">Ir</a>
	
	<!-- Excepciones con bases de datos -->
	<h2>Excepciones con bases de datos</h2>
	<a th:href="@{/db/menu}">Ir</a>

	<!-- Excepciones con API de pokemon -->
	<h2>Excepciones con API de pokemon</h2>
	<a th:href="@{/pokemon/menu}">Ir</a>
</body>
</html>