<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Página de Registro</title>
	</head>
	<body>
	    <div>
	        <h1>Registro</h1>
	        <hr>
	
	        <form action="#" th:action="@{/createUser}" th:object="${user}" method="POST">
				<input type="text" th:field="*{username}" placeholder="Nombre">
	            <input type="password" th:field="*{password}" placeholder="Contraseña">
	            <input type="text" th:field="*{rol}" placeholder="Rol">
	            <button type="submit"> Crear usuario</button>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	        </form>
	
	        <hr>
	
	        <a th:href="@{/}">Volver</a>
	    </div>
	</body>
</html>